body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #050505;
  background-color: #D9D4CF;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #7C7877;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #ABD0CE;
  justify-content: space-between;
  align-items: center;
  height: 2vh;
}

section {
  display: flex;
  flex: 3;
  padding: 10px;
  flex-direction: column;
  height: 83vh;
  border-color: #050505;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #7C7877;
  height: 1vh;
  vertical-align: middle;
  text-align: center;
}

a {
  margin: 10px;
  text-decoration: none;
  color: #050505;
  font-weight: 800;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
}

.input-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  font-weight: 500;
  font-size: medium;
  margin: 0px 0px 5px 0px;
  font-size: small;
}

.cv-header {
  font-size: x-large;
  text-transform: uppercase;
  border-color: #050505;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
  padding: 0px;
  text-align: right;
}

.contact-details {
  display: flex;
  flex-direction: column;
  font-size: medium;
  text-transform: initial;
  margin: 0px 0px 2px 0px;
}

.cv-heading {
  margin: 0px;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.statement-wrapper {
  border-color: #050505;
  margin: 5px;
  padding: 0px;
  text-align: right;
}

.output-page {
  background-color: #ffffff;
  overflow-y: scroll;
  margin: 10px;
  
}

.input-page {
  background-color: #ABD0CE;
  overflow-y: scroll;
  margin: 10px;
  border-style: none;

}

.input-heading {
  text-transform: uppercase;
  border-bottom: #050505;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
  padding: 0px;
  text-align: left;
}
form {
  margin: 5px;
}

p {
  margin: 5px 0px 5px 0px;
}

.statement {
  text-align: justify;
  font-size: smaller;
}

form {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

input {
  width: 100%;
  vertical-align: auto;
  border-style: none;
}


.long-input {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  height: 85px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cv-subheader {
  font-size: larger;
  font-weight: 700;
  text-transform: uppercase;
  border-color: #050505;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
  padding: 0px;
  text-align: left;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 6px

}

.btn {
  padding: 5px;
  margin: 5px;
  background-color: #7C7877;
  border-radius: 4px;
  color: white;
  border-style: none;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  width: 75px;

}

.btn-wrapper-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  padding: 6px
}

.btn-delete {
  padding: 5px;
  margin: 5px;
  background-color: #7C7877;
  border-radius: 4px;
  color: white;
  border-style: none;
  margin: 0px 0px 10px 0px;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  width: 75px;

}

.title {
  font-weight: 600;
}

.sub-title {
  font-size: small;
  font-style: italic;
}

.summary {
  font-size: smaller;

  white-space: pre-wrap;
}

.side-detail {
  font-size: small;
}

.btn-wrapper-skill {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 6px

}

.btn-skill {
  padding: 5px;
  margin: 30px 5px 5px 5px;
  background-color: #7C7877;
  border-radius: 4px;
  color: white;
  border-style: none;
  width: 75px;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
}

.input-row-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  font-weight: 500;
  font-size: medium;
  align-items: center;
  margin: 0px 0px 5px 0px;
  font-size: small;
}

.btn:hover, .btn-delete:hover, .btn-skill:hover {
  opacity: 1;
}